html, body {
  margin: 0%;
}
.grey {
  background-color: #e0e0eb;
  width: 100%;
  height: 10%;
}
.smallBlue {
  background-color: #3385ff;
  float: left;
  height: 8%;
  width: 5%;
  margin: .5% 1%;
}
.white {
  background-color: white;
  height: 20%;
  width: 100%;
  postion: relative;
}
.white p {
  position: absolute;
  top: 15%;
  text-align: center;
  left: 50px;
  right: 50px;
}
.blue {
  background-color: #3385ff;
  height: 17.5%;
  width: 100%;
}
.turquoise {
  background-color: aqua;
  height: 17.5%;
  width: 100%;
}
.lime {
  background-color:  #b3ffb3;
  height: 17.5%;
  width: 100%;
}
.yellow{
  background-color: yellow;
  height: 17.5%;
  width: 100%;
}